<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('로그인', ~{::link}, ~{::script})}">
    <link rel="stylesheet" href="#" th:if="${false}" />
    <script src="#" th:if="${false}"></script>
  </head>
  <body>
    <div class="grid-container">
      <header th:replace="~{fragments/header :: header}"></header>
      <aside th:replace="~{fragments/aside :: aside}"></aside>
      <main class="main">
        <form th:action="@{/auth/login}" method="post" id="loginForm">
          <!-- 회원 아이디 -->
          <div>
            <label for="memberId">아이디</label><br />
            <input type="text" id="memberId" name="memberId" maxlength="20" required />
          </div>
          <br />
          <!-- 비밀번호 -->
          <div>
            <label for="password">비밀번호</label><br />
            <input type="password" id="password" name="password" maxlength="100" required />
          </div>
          <br />
          <button type="submit">로그인</button>
        </form>
        <div>
          <a th:href="@{/members/signup}">회원가입</a>
        </div>
      </main>
      <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
  </body>
</html>
