<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('TITLE', ~{::link}, ~{::script})}">
    <link rel="stylesheet" href="#" th:if="${false}" />
    <script th:src="@{/js/member/memberCommon.js}" defer></script>
    <script th:src="@{/js/member/signup.js}" defer></script>
  </head>
  <body>
    <div class="grid-container">
      <header th:replace="~{fragments/header :: header}"></header>
      <aside th:replace="~{fragments/aside :: aside}"></aside>
      <main class="main">
        <h1>내 정보</h1>
        <div th:object="${member}">
          <div>아이디: <span th:text="*{memberId}"></span></div>
          <div>이름: <span th:text="*{name}"></span></div>
          <div>이메일: <span th:text="*{email}"></span></div>
          <div>생년월일: <span th:text="*{birth}"></span></div>
          <div>관심 주제: <span th:text="*{topic}"></span></div>
          <div>관심 지역: <span th:text="*{city}"></span></div>
        </div>
        <div>
          <ul class="flex ul-reset">
            <li><a th:href="@{/members/me/edit}">회원 정보 수정</a></li>
            <li><a th:href="@{/members/me/interest}">관심 주제/지역 관리</a></li>
          </ul>
        </div>
      </main>
      <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
  </body>
</html>
