<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <header class="header" th:fragment="header">
    <div>
      <a th:href="@{/}">메인 페이지</a>
    </div>
    <nav class="nav">
      <ul>
        <th:block sec:authorize="not isAuthenticated()">
          <li><a th:href="@{/members/signup}">회원가입</a></li>
          <li><a th:href="@{/auth/login}">로그인</a></li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
          <li><a th:href="@{/auth/logout}">로그아웃</a></li>
          <li><a th:href="@{/members/mypage}">마이페이지</a></li>
        </th:block>
      </ul>
    </nav>
  </header>
</html>
