<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title, links, scripts)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:text="${title}">Default Title</title>

    <!-- 공통 CSS -->
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <!-- 페이지별 CSS -->
    <th:block th:replace="${links}"></th:block>

    <!-- 공통 JS -->
    <script th:src="@{/js/common.js}"></script>
    <!-- 페이지별 JS -->
    <th:block th:replace="${scripts}" />
  </head>
</html>
