<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('TITLE', ~{::link}, ~{::script})}">
    <link rel="stylesheet" href="#" th:if="${false}" />
    <script src="#" th:if="${false}"></script>
  </head>
  <body>
    <div class="grid-container">
      <header th:replace="~{fragments/header :: header}"></header>
      <main class="main">
        <h1>404 Not Found</h1>
      </main>
      <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
  </body>
</html>
