.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 80px;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
}